.main{
   margin: 50px;
}

.article{
    display: flex;
    justify-content: space-evenly;
}
.words{
    width: 600px;
}

.form_part{
    display: flex;
    flex-direction: column;
}

.theButton{
   display: flex;
   justify-content: right;
   align-items: flex-end;
   text-align: right;
}

.button_white{
    display: flex;
    justify-content: center;
    color: black;
    height: 20px;
    margin: 20px;
    border: 1px black solid;
}