@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamCond-Black.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.author{
    margin:10px;
    display:flex;
    flex-direction:row;
    box-sizing: border-box;
    font-family: 'Gotham';
}

.authorImage{
    margin:20px;
    width:50%;
}
.authorImage>img{
    width:100%;
}

.authorDescription{
    width:50%;
}