.navbar{
    background-color:red;
}

button{
    font-family:'Buran USSR';
    font-size:16px;
    color: white;
    background: none;
    border: 0;
    padding: 30px;
}

@font-face {
    font-family: 'Buran USSR';
    src: url('../fonts/Buran\ USSR.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}